<html>

<body>
    <h2 style="color: red;">
        This is my first project using Templates in Django
    </h2>

    {% if first_name == 'Ragnar' %}
        <p>I'm the first developer in this project</p>
    {% else %}
        <p>I'm the second developer in this project</p>
    {% endif %}
    <!-- Calling method (upper) example -->
    <p>My name is: {{first_name.upper}} {{last_name}}</p>
    <!-- Calling property (day) example -->
    <p>Date：{{time.year}}/{{time.month}}/{{time.day}}</p>
    <p><strong>List topics:</strong></p>
    <p>
        <ul>
            {% if topics %}
                {% for t in topics %}

                    <li>{{t}}</li>

                {% endfor %}
            {% else %}
                <p>Don't have topics to show</p>
            {% endif %}
        </ul>
    </p>
</body>

</html>